*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  --bg-color: #ddcc77;
  --bg-dark-color: #bbaa33;
  --white-color: #fff;
  --black-color: #000;
}

.container {
  background: var(--bg-color);
  color: var(--white-color);
  height: 100vh;
  text-align: center;
}

.img {
  background: var(--white-color);
  border: 1px solid var(--black-color);
  border-radius: 0.5rem;
  margin: 0.3rem;
  padding: 0.3rem;
}

.pokemons,
.ids{
  padding: 1rem;
}

#poke-input,
#id-input,
#poke-btn,
#id-btn {
  border: none;
  border-radius: 0.2rem;
  height: 2rem;
  padding: 0.2rem;
}

#poke-btn,
#id-btn {
  background: var(--bg-color);
  border: 1px solid var(--bg-dark-color);
  color: var(--white-color);
  cursor: pointer;
}

#poke-btn:hover,
#id-btn:hover {
  background: var(--bg-dark-color);
  color: var(--white-color);
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group > img,
.group > input {
  margin-left: 0.5rem;
}